@{
  Layout = "_Layout";
}

  <div class='container'>
    <h1>Salon Management Tool</h1>
    <p>Welcome to the Salon management tool! Using this tool, you'll be able to 
      browse your list of active stylists, create stylists, and add clients to those stylists.
      Click on the link below to see a list of current stylists or add a stylist.</p>
    <a href="/stylists">Stylists.</a>

    
  </div>